body {
    background: #21b186;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    font-size: 20px;
    margin-bottom: 0;
}

p {
    font-size: 14px;
}

.header .archive_img {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.article_img {
    width: 100px;
    margin-left: 0;
}

.header_func
{
    display: block;
    float: right;
    margin-left: auto;
    margin-right: auto;
}

.article-author {
    width: 50%;
    float: left;
}

.article-created-date {
    text-align: right;
}

.archive {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #ffffff;
}

.article_form, .register_form {
    display: block;
    width: 300px;
    margin-left: 0;
    margin-right: auto;
}

input, textarea {
    line-height: 1.5;
    width: 100%;
    padding-bottom: 5px;
}
